<section class="container mx-auto my-8 bg-secondary p-6">

  <h2 class="font-bold mb-2 text-3xl">
    Looking for a better way to use your branded videos?
  </h2>

  <p class="text-gray-400 mb-6">
    Uploading video content to sites like YouTube can have their own benefits. But using the same video on your website can
    be the secret to driving traffic, capturing leads, and engaging your potential customers.
    Here, we’ll share six incredible video landing page examples, along with a handful of templates for you to create your
    own.
  </p>

  <hr>

  <h2 class="font-bold mb-2 text-3xl">
    What is a video landing page?
  </h2>

  <p class="text-gray-400 mb-6">
    Before we dive into the templates, let’s iron out what the term “video landing page” actually means.


    A video landing page is a specific page on your website that acts as a home for your branded videos. It’s where the
    content is housed and referred-to by your website visitors, and can be created for any type of video content—such as
    tutorials, product demonstration, or explainer videos.

    Your video landing page can also have another purpose (such as explaining product features or welcoming people to your
    site.) That’s the end goal, but the video helps engage people who land there.
  </p>
</section>

