<header id="header" class="bg-secondary">
  <nav class="container mx-auto flex justify-between items-center py-8 px-4">
    <a class="text-3xl text-red-400 font-bold  mr-4" routerLink="/">TeaserVI</a>

    <div class="flex  flex-grow items-center">
      <ul class="flex flex-row mt-1">
        <li *ngIf="(authService.isAuth$ | async)">
          <a class="px-2" routerLink="/manage" routerLinkActive="text-red-400" [queryParams]="{sort:'1'}">Manage</a>
        </li>
        <li *ngIf="(authService.isAuth$ | async)">
          <a class="px-2" routerLink="/upload" routerLinkActive="text-red-400">Upload</a>
        </li>
        <li>
          <a class="px-2" routerLink="/about" routerLinkActive="text-red-400">About</a>
        </li>
      </ul>
      <!-- language selection -->
    </div>
    <ul class="mt-1">
      <div class="flex flex-grow items-center">
        <li *ngIf="!(authService.isAuth$ | async)">
          <a class="px-2" (click)="openModal($event)">Login / Register</a>
        </li>
        <li *ngIf="authService.isAuth$ | async">
          <a class="px-2" (click)="authService.logout($event)">Logout</a>
        </li>
      </div>
    </ul>
  </nav>
</header>


